environments {
    test {
        jdbc.url = "jdbc:h2:mem:k8spelling"
        hibernate.hbm2ddl.auto = "create-drop"
    }
    
    production {
        jdbc.url = "jdbc:h2:k8spelling"
        hibernate.hbm2ddl.auto = "update"
    }
}

applicationContext = new org.springframework.context.support.ClassPathXmlApplicationContext("applicationContext.xml")